.container {
    margin-top: 50px;
}

.title {
    text-align: center;
    margin: 10px auto;
}

.bullets {
    margin: 0 auto;
    width: 60%;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    padding-left: 20px;
}