.projectsContainer {
    display: flex;
    max-width: 1300px;
    justify-content: center;
    margin: 50px auto 0;
}

.image {
    width: 1220px;
    height: 670px;
}

/* smaller screens styles */
@media screen and (max-width: 1300px){
    .projectsContainer {
        max-width: 600px;
    }

    .image {
        width: 488px;
        height: 268px;
    }
}

@media screen and (max-width: 700px) {

    .image {
        width: 300px;
        height: 300px;
    }
}