.projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.backgroundImage {
    width: 100%;
    position: absolute;
    top: 75px;
    left: 0;
    z-index: -10;
}

@media screen and (max-width: 700px) {

    .projectContainer {
        display: flex;
        max-width: 700px;
        justify-content: center;
    }
}

@media screen and (max-width: 1250px) {
    .backgroundImage {
        display: none;
    }
}