@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');

.App {
  text-align: center;
  background-color: #FAFAF0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-greating{
  font-family:'Lora';
  font-size: 60px;
}

.Title{
  font-family:'Lora';
  font-size: 54px;
  
}

.SubHeading{
  font-family:'Lora';
  font-size: 32px;
}

.SubHeading-Lato{
  font-family: 'Lato';
  font-size: 36px;
}

.SubSubHeading-Lato{
  font-family: 'Lato';
  font-size: 24px;
}

.P-Lato{
  font-family: 'Lato';
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  text-align: left;
}

.Text-left{
  text-align: left;
}

.NoScroll{
  overflow-x: hidden;
  overflow-y: hidden;
}

.Scroll-y{
  overflow-y: auto;
}

.App-link {
  color: #000000;
}

.scrollhost::-webkit-scrollbar {
  display: none;
}

.scrollhost ::-moz-scrollbar {
  display: none;
 
}

.scrollhost {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-color: transparent transparent; /*just hides the scrollbar for firefox */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
