@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --base-colour: #FAFAF0;
  --project-accent-colour: #FDBFD0;
  --art-accent-colour: #FDD77C;
  --about-me-accent-colour: #5ED3DA;
}

.projectComponent{
  background-color: var(--project-accent-colour);
}

.artComponent{
  background-color: var(--art-accent-colour);
}

.aboutMeComponent{
  background-color: var(--about-me-accent-colour);
}

.body {
  margin: 0px;
  padding: 0px;
}

.main {
  text-align: center;
  background-color: var(--base-colour);
  height: "100vh";
}

.fullRow{
  height: "100vh";
}

.title{
  color: #3E343C;
  font-family:'Lobster';
  font-size: 54px;
  margin: 0
}

.sub-title{
  color: #3E343C;
  font-family:'Lora';
  font-size: 30px;
  margin: 0
}

.P-Lato{
    color: #3E343C;
  font-family: 'Lato';
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  text-align: left;
}

.nav-back-button{
  color: #000000;
}

.Scroll-y{
  overflow-y: auto;
}

.Text-left{
  text-align: left;
}