@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --base-colour: #FAFAF0;
  --project-accent-colour: #FDBFD0;
  --art-accent-colour: #FDD77C;
  --about-me-accent-colour: #5ED3DA;
  --text-colour: #3E343C;
}

.projectComponent{
  background-color: var(--project-accent-colour);
}

.artComponent{
  background-color: var(--art-accent-colour);
}

.aboutMeComponent{
  background-color: var(--about-me-accent-colour);
}

.body {
  margin: 0px;
  padding: 0px;
}

.main {
  text-align: center;
  background-color: var(--base-colour);
}

.fullRow{
  height: "100vh";
}

.mobileNav{
  position: fixed;
  bottom: 0;
  right: 0
}

.mobileNavButton{
  height: 100px;
}

.title{
  color: var(--text-colour);
  font-family:'Lobster';
  font-size: 52px;
  margin: 0
}

.sub-title{
  color: var(--text-colour);
  font-family:'Lobster';
  font-size: 30px;
  margin: 0
}

.P-Lato{
  color: var(--text-colour);
  font-family: 'Lato';
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  text-align: left;
}

.nav-back-button{
  color: #000000;
}

.Scroll-y{
  overflow-y: auto;
}

.Text-left{
  text-align: left;
}

.medium-title {
  color: var(--text-colour);
  font-family: 'Lato';
  font-size: 24px;
  font-weight: bold;
}

.small-title {
  color: var(--text-colour);
  font-family: 'Lato';
  font-size: 16px;
  font-weight: normal;
}

.small-sub-title {
  color: var(--text-colour);
  font-family: 'Lato';
  font-size: 14px;
  font-weight: normal;
}

.about-me-button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 56px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  background-color: var(--about-me-accent-colour);
  color: var(--text-colour);
  font-weight: 400;
  font-size: 16px;
}

.about-me-button:hover{
  color: var(--base-colour);
}